<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/script.js') }}"
            defer
        ></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <title>Document</title>
    </head>
    <body>
        <div class="header">
            <div class="header-left">
                <h1>KitchenQuest</h1>
                <p>Track Ingredients | Fight Bosses | Eat Well</p>
            </div>
            <div class="header-right">
                <a href="/dashboard">Dashboard</a>
                <a href="/grocery_list">Grocery List</a>
                <a href="/spellbook">Spellbook</a>
                <a href="/recipes">Boss Menu</a>
            </div>
        </div>
        <main class="dashboard_main">
            <div class="dashboard_left_col">
                <h2>Spellbook</h2>
                <table id="decktable">
                    <thead>
                        <th>Spells</th>
                        <th>Expiration Date</th>
                    </thead>
                    <tbody>
                        {% for spell in spellbook%}
                        <tr>
                            <td>{{spell.name}}</td>
                            <td>
                                <div id="progress_for_{{spell.id}}"></div>
                                <script>
                                    expiration_bars(
                                        document.querySelector(
                                            "#progress_for_{{spell.id}}"
                                        ),
                                        `{{spell.expiration_date}}`
                                    );
                                </script>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="dashboard_right_col">
                <h2>Upcoming Bosses</h2>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Spells Ready</th>
                        <th>XP Value</th>
                        <th>Actions</th>
                    </thead>
                </table>
                {% with bosses = one_user.bosses %} {% for boss in bosses %}
                <td>{{boss.title}}</td>
                <td>pending</td>
                <td>pending</td>
                <td>pending</td>
                {% endfor %} {% endwith %}
                <a href="/recipes/search">Recipe Search</a>
                <a href="/ingredients/search">Ingredient Search</a>
            </div>
        </main>
    </body>
</html>
