<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/script.js') }}"
            defer
        ></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="../static/css/bootstrap.css"
        />
        <title>KitchenQuest - Edit {{one_spell.name}} Spell</title>
    </head>
    <body>
        <div class="header-left">
            <h1 class="h1 text-warning">KitchenQuest</h1>
            <p class="h5 text-warning">Track Ingredients | Fight Bosses | Eat Well</p>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/dashboard"
                            >Dashboard</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/ingredients/search"
                            >Search Ingredients</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/recipes/search"
                            >Search Recipes</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/logout"
                            >Logout</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <main>
            <h1>Edit {{one_spell.name}} Spell</h1>
            <img
                src=""
                alt=""
            />
            <form
                action="/spells/edit/process"
                method="POST"
            >
                <input
                    type="hidden"
                    value="{{one_spell.id}}"
                    name="id"
                />
                <input
                    type="hidden"
                    value="{{one_spell.name}}"
                    name="name"
                />
                <input
                    type="hidden"
                    value="{{session['user_id']}}"
                    name="user_id"
                />
                <label
                    >Number of Charges (servings):<input
                        type="number"
                        min="1"
                        name="current_charges"
                        id="current_charges"
                        value="{{one_spell.current_charges}}"
                /></label>
                <p>If you're unsure, just check the Nutrition Facts.</p>
                <label>One Charge of this spell is equal to: </label>
                <input
                    type="float"
                    name="charge_amount"
                    value="{{one_spell.charge_amount}}"
                />
                <p>{{one_spell.charge_unit}}</p>
                <label
                    >This Spell expires on:
                    <input
                        type="date"
                        name="expiration_date"
                        value="{{one_spell.expiration_date}}"
                /></label>
                <button>Update Spell</button>
            </form>
            {% with messages = get_flashed_messages()%} {% if messages%} {% for
            message in messages %}
            <p style="color: red">{{ message }}</p>
            {% endfor %} {% endif %} {% endwith %}
        </main>
    </body>
</html>
