<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="header">
            <h1>KitchenQuest</h1>
            <div>
                <p>Logout</p>
                <p>View Pantry Deck</p>
                <p>View Calendar</p>
            </div>
        </div>
        <main>
            <h1>Create a new {{one_ingredient.name}} Spell</h1>
            <img
                src="https://spoonacular.com/cdn/ingredients_500x500/{{one_ingredient.image}}"
                alt=""
            />
            <form action="/ingredients/make_spell" method="POST">
                <input
                    type="hidden"
                    value="{{session['user_id']}}"
                    name="user_id"
                />
                <input
                    type="hidden"
                    value="{{one_ingredient.id}}"
                    name="api_ingredient_id"
                />
                <label
                    >Number of Charges (servings):<input
                        type="number"
                        min="1"
                        name="max_charges"
                        id="max_charges"
                /></label>
                <p>If you're unsure, just check the Nutrition Facts.</p>
                <label
                    >This Spell expires on:
                    <input type="date" name="expiration_date"
                /></label>
                <label
                    >Freeze ingredient? Ingredients will not expire while frozen
                    by default. <input type="checkbox" name="isFrozen"
                /></label>
                <button>Create Spell</button>
            </form>
            {% with messages = get_flashed_messages()%} {% if messages%} {% for
            message in messages %}
            <p style="color: red">{{ message }}</p>
            {% endfor %} {% endif %} {% endwith %}
        </main>
    </body>
</html>
