<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="header">
            <h1>KitchenQuest</h1>
            <div>
                <p>Logout</p>
                <p>View Pantry Deck</p>
                <p>View Calendar</p>
            </div>
        </div>
        <main>
            <h1>Add {{one_recipe.title}}</h1>
            <img src="{{one_recipe.image}}" alt="" />
            <form action="add_ingredient_to_pantry">
                <input
                    type="hidden"
                    value="{{session['user_id']}}"
                    name="user_id"
                />
                <label>I want to add... <input type="number" min="1" /></label>
                <select name="unit_type" id="unit_type">
                    {% with possible_units = one_recipe.possibleUnits %} {% for
                    unit in possible_units %}
                    <option value="{{unit}}">{{unit}}</option>
                    {% endfor %} {% endwith %}
                </select>
                <p>of {{one_recipe.name}} to my pantry.</p>
                <label
                    >This card will expire on
                    <input type="date" name="expiration_date"
                /></label>
                <label
                    >Check this box to freeze this ingredient.
                    <input type="checkbox" name="isFrozen"
                /></label>
                <button>Make it so.</button>
                <div>
                    <p>Recipe Summary</p>
                    {{one_recipe.summary|safe}}
                </div>
            </form>
        </main>
    </body>
</html>
