<!DOCTYPE html>
<html lang="en">
    <head>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/script.js') }}"
            defer
        ></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td id="test_element"></td>
                    <button
                        onclick="calculate_charges(10,2,document.querySelector('#test_element'))"
                    >
                        Click Me!
                    </button>
                </tr>
            </tbody>
        </table>
    </body>
</html>
